.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  background: #212427;
  color: #fff;
  padding: 0 1rem;
}

.title {
  font-size: 6.5rem;
  font-weight: 700;
  /* margin: 0; */
  padding: 0;
  line-height: 1.2;
  text-align: center;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.75rem;
  }
}

.description {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  text-align: center;
  max-width: 500px;
}

@media (min-width: 768px) {
  .description {
    font-size: 1.5rem;
  }
}
