.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #212427;
  margin-top: 10rem;
}

@media screen and (max-width: 768px) {
  .contact {
    margin-top: 13rem;
  }
}

@media (max-width: 425px) {
  .contact {
    margin-top: 50rem;
  }
}

.contact-title {
  font-size: 2.5rem;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  margin-bottom: 2rem;
}

.contact-box {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: fit-content;
}

.form-item {
  padding: .5rem;
  color: #f7f7f7;
}

.form-submit-button {
  margin-left: .5rem;
  margin-top: 1rem;
}

.email-prompt {
  margin-top: 2rem;
  font-size: 1rem;
  font-family: 'Titillium Web', sans-serif;
  color: #f7f7f7;
}