.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: 10px;
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }
}