.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #212427;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: 10px;
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }
}